<h2><%= @arr[0].name %></h2>
<form action="/history/<%= @arr[0].name %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Article">
</form>
<form action="/history/<%= @arr[@arr.length-1].name %>/deleteto/<%= @arr[@arr.length-1].id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Reset to original state">
</form>

<b><a href="/article/<%= @arr[0].name %>"><%= @arr[0].date %></a></b> -
<span><%= @arr[0].author %></span>
<p>Current</p>
<p><%= @arr[0].body %></p>
<hr>

<%# separate versions other than latest one for extra functionality, like rollback%>
<% @arr.drop(1).each do |article| %>
	<b><a href="/history/<%= article.name %>/<%= article.id %>"><%= article.date %></a></b> -
	<span><%= article.author %></span>
	<form action="/history/<%= article.name %>/deleteto/<%= article.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Permanently rollback to this version">
	</form>
	<p><%= article.body %></p>
	<hr>
<% end %>